@model List<Book>

<div class = "container">
    <div class="row">
        <div class="col-12 text-center">
            <h1>Benvenuto Admin!</h1>
            <p>Da qui potrai modificare, eliminare, aggiungere un nuovo libro o ordinarne libri già presenti</p>
        </div>
    </div>
    <div class="row">
        <div class="col-3 mx-auto">
            <a class="btn btn-outline-primary" href="@Url.Action("Create", "Book")" role="button">Aggiunngi un nuovo libro</a>
        </div>
    </div>
    <div class="row">
        <div class=col-12>
            @if(Model.Count() == 0)
            {
                <h2>Non ci sono ancora libri presenti</h2>
            }
            else
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Immagine</th>
                            <th>Titolo e descrizione</th>
                            <th>Categoria</th>
                            <th>Prezzo</th>
                            <th>Quantità rimanente</th>
                            <th>Azioni</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(Book book in Model)
                        {
                            <tr>
                                <td>@book.Id</td>
                                <td><img src="@book.UrlImage" alt="Copertina libro" width="300"/></td>
                                <td><div class="fs-5"><strong>@book.Title</strong> - <span><em>@book.Author</em></span></div> <p class="mt-2">@book.Description</p></td>
                                <td>@book.Category.Name</td>
                                <td>@book.Price</td>
                                <td>@book.Quantity</td>
                                <td>
                                    <a href="@Url.Action("Details",new{id=book.Id})" class="btn btn-primary btn-lg d-block my-1" role="button"><i class="fa-solid fa-info"></i></a> 
                                    <a href="#" class="btn btn-success btn-lg d-block my-1" role="button" ><i class="fa-solid fa-plus"></i></a>
                                    <a href="@Url.Action("Update",new{id=book.Id})" class="btn btn-warning btn-lg d-block my-1" role="button"><i class="fa-solid fa-pen"></i></a>
                                    <form action="@Url.Action("Delete", new{id=book.Id})" method="post">
                                        @Html.AntiForgeryToken()
                                        <button class="btn btn-danger btn-lg d-block my-1 w-100" role="button">
                                            <i class="fa-solid fa-ban"></i>
                                        </button> 
                                    </form>
                                </td>
                            </tr>    
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>